<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Fish Collection</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
        </ul>
      </div>
    </nav>
<hr>
<hr>  

  <img width="300" alt="Angular Logo" src="http://fishstoresnearme.com/search/images/187655285455e9f606ce8ec_fishcollectionlogo.png">
</div>
<hr>
<hr>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>




<div class="panel panel-danger">
<div class="panel-heading" width="400"><h1 style="text-align:center;">SEAFOOD</h1>
</div>


<div class="panel panel-primary">
<div class="panel-heading" width="400"><h1 style="text-align:center;">Decorative Fish</h1>
</div>

<hr>
<hr>
<hr>
<footer>
  <p><strong>by:</strong> Rico & Hanif</p>
  <p><strong>Contact information:</strong> 081232868379 / 085852728809.</p>
</footer>

<p><strong>Note:</strong> Web ini adalah melihat info harga di pasaran seafood dan ikan hias.</p>
        